{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="preconnect" href="{% static 'https://fonts.googleapis.com' %}">
    <link rel="preconnect" href="{% static 'https://fonts.gstatic.com' %}" crossorigin>
    <link rel="icon" href="{% static 'img/favicon.png' %}">
    <link
        href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700&family=Raleway:wght@300;400;500;700;900&family=Rubik:wght@300;400;500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/myStyle.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <!-- Page Preloder -->
    <div class="preloader">
        <div class="spinner"></div>
    </div>

    <!--Start topbar-->
<div class="nav">
    <div class="container">

      <a class="nav-link float-start" href="#">Home Improvement Deals | Financing Options <i class="fa-solid fa-arrow-right"></i></a>

      <a class="nav-link float-end" href="#">Free Shipping Over $35*</a>

      <a class="nav-link float-end" href="#">Wayfair Professional</a>

      <a class="nav-link float-end" href="{% url 'App' %}">Our App</a>

    </div>
</div>

<!--End topbar-->

<!--Start Navbar-->

<nav class="navbar navbar-expand-lg pt-0 pb-0 sticky-top">
  <div class="container">
    <div class="d-flex justify-content-start">
      <a class="nav-link mt-4 disappearing-element" href="#" onclick="openNav()"><i class="fa-solid fa-bars fa-xl"></i></i> Menu</a>
      <a class="nav-link" href="{% url 'home' %}"><img src="{% static 'imgs/logo.png' %}" alt="#" width="160px" height="80px"></a>
  </div>

  <div class="d-flex justify-content-center">
    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
      <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
    </form>
  </div>
  <div class="d-flex justify-content-end">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav  mb-2 mb-lg-0 ">
        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-circle-user fa-xl"></i> Account
          </a> 
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <div class="d-grid gap-2 col-6 mx-auto">
              <a href="{% url 'login' %}" class="btn mybtn" type="button">Sign In</a>
              <a href="{% url 'login' %}" class="nav-link px-auto mx-0">Creat an Account</a>
            </div>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#"><i class="fa-solid fa-circle-user"></i> My Account </a></li>
            <li><a class="dropdown-item" href="#"><i class="fa-solid fa-box-open"></i> My Orders</a></li>
            <li><a class="dropdown-item" href="#"><i class="fa-solid fa-list"></i> Lists</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'cart' %}"><i class="fa-solid fa-cart-shopping fa-xl"></i> Cart</a>
        </li>
      </ul>
    </div>
    </div>
  </div>
</nav>

<!--End Navbar-->

<!--Start Side Panal-->
<div id="mySidepanel" class="sidepanel">

  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
  <a class="logo" href="{% url 'home' %}"><img src="{% static 'imgs/logo.png' %}" alt="#" width="160px" height="80px"></a>

 <hr>
  <a href="{% url 'shop' %}"><i class="fa-solid fa-chair"></i> Departments</a>
  <a href="{% url 'shop' %}"><i class="fa-solid fa-tag"></i> sale</a>
  <hr>
  <a href="{% url 'shop' %}"><i class="fa-solid fa-circle-user"></i> My Account</a>
  <a href="{% url 'shop' %}"><i class="fa-solid fa-box-open"></i> My Orders </a>
  <a href="{% url 'shop' %}"><i class="fa-solid fa-comment-dots"></i> Review My Purchases</a>
<hr>
  <a href="{% url 'shop' %}"><i class="fa-solid fa-clock-rotate-left"></i> Recently Viewed</a>
  <a href="{% url 'shop' %}"><i class="fa-solid fa-heart"></i> Lists</a>
  <a href="{% url 'shop' %}"><i class="fa-solid fa-shapes"></i> Design Services</a>
  <a href="{% url 'shop' %}"><i class="fa-brands fa-unity"></i> 3D Room Planner</a>
<hr>
  <a href="{% url 'shop' %}"><i class="fa-solid fa-credit-card"></i> Wayfair Credit Cards</a>
  <a href="{% url 'shop' %}"><i class="fa-solid fa-hand-holding-dollar"></i> Wayfair Financing</a>
  <a href="{% url 'shop' %}"><i class="fa-solid fa-gift"></i> Gift Card</a>
  <a href="{% url 'shop' %}"><i class="fa-solid fa-user-tie"></i> Wayfair Professional</a>
  <a href="{% url 'shop' %}"><i class="fa-solid fa-circle-info"></i> Help & Contact</a>
  <div class="d-grid gap-2 col-10 mx-auto">
    <a href="login.html" class="btn btn-primary" type="button">Sign In</a>
  </div>
</div>
<!--End Side Panal-->
<div><hr></div>
<!--Start Departments-->
<div class="nav1 navbar navbar-expand-lg">
  <div class="container d-flex justify-content-center">
    <a class="nav-link float-start" href="{% url 'shop' %}">Furniture</a>
    <a class="nav-link float-start" href="{% url 'shop' %}">Outdoor</a>
    <a class="nav-link float-start" href="{% url 'shop' %}">Bedding & Bath</a>
    <a class="nav-link float-start" href="{% url 'shop' %}">Rugs</a>
    <a class="nav-link float-start" href="{% url 'shop' %}">Decor & Pillows</a>
    <a class="nav-link float-start" href="{% url 'shop' %}">Organization</a>
    <a class="nav-link float-start" href="{% url 'shop' %}">ligting</a>
    <a class="nav-link float-start" href="{% url 'shop' %}">Kitchen</a>
    <a class="nav-link float-start" href="{% url 'shop' %}">Baby & Kids</a>
    <a class="nav-link float-start" href="{% url 'shop' %}">Home Improvement</a>
    <a class="nav-link float-start" href="{% url 'shop' %}">Appliances</a>
    <a class="nav-link float-start" href="{% url 'shop' %}">Pet</a>
    <a class="nav-link float-start" href="{% url 'shop' %}">Holiday</a>
    <a class="nav-link float-start" href="{% url 'shop' %}">Shop by Room</a>
    <a class="nav-link float-start" href="{% url 'shop' %}" style="color: red;">Sale</a>
</div>
</div>
<!--End Departments-->

<div><hr></div>






<!--================Category Product Area =================-->
<section class="cat_product_area section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="left_sidebar_area">
                    <aside class="left_widgets p_filter_widgets">
                        <div class="l_w_title">
                            <h3>Browse Categories</h3>
                        </div>
                        <div class="widgets_inner">
                            <ul class="list">
                                <li>
                                    <a href="#">Headboards</a>
                                    <span>(145)</span>
                                </li>
                                <li>
                                    <a href="#">Bed Frames</a>
                                    <span>(244)</span>
                                </li>
                                <li>
                                    <a href="#">Platform Beds</a>
                                    <span>(45)</span>
                                </li>
                                <li>
                                    <a href="#">Storage Beds</a>
                                    <span>(52)</span>
                                </li>
                                <li>
                                    <a href="#">Murphy beds</a>
                                    <span>(457)</span>
                                </li>
                                <li>
                                    <a href="#">Canopy Beds</a>
                                    <span>(42)</span>
                                </li>
                                <li>
                                    <a href="#">Panal Beds</a>
                                    <span>(13)</span>
                                </li>
                            </ul>
                        </div>
                    </aside>

                    <aside class="left_widgets p_filter_widgets">
                        <div class="l_w_title">
                            <h3>Bed Size</h3>
                        </div>
                        <div class="widgets_inner">
                            <ul class="list">
                                <li>
                                    <a href="#">Single</a>
                                </li>
                                <li>
                                    <a href="#">Twin</a>
                                </li>
                                <li class="active">
                                    <a href="#">Full</a>
                                </li>
                                <li>
                                    <a href="#">Double</a>
                                </li>
                                <li>
                                    <a href="#">King</a>
                                </li>
                            </ul>
                            <ul class="list">
                                <li>
                                    <a href="#">Queen</a>
                                </li>
                                <li>
                                    <a href="#">King California</a>
                                </li>
                                <li class="active">
                                    <a href="#">XL</a>
                                </li>
                                <li>
                                    <a href="#">Queen California</a>
                                </li>
                                <li>
                                    <a href="#">Twin XL</a>
                                </li>
                            </ul>
                        </div>
                    </aside>

                    <aside class="left_widgets p_filter_widgets">
                        <div class="l_w_title">
                            <h3>Color Filter</h3>
                        </div>
                        <div class="widgets_inner">
                            <ul class="list">
                                <li>
                                    <a href="#">Black</a>
                                </li>
                                <li>
                                    <a href="#">Black Leather</a>
                                </li>
                                <li class="active">
                                    <a href="#">Black with red</a>
                                </li>
                                <li>
                                    <a href="#">Gold</a>
                                </li>
                                <li>
                                    <a href="#">Spacegrey</a>
                                </li>
                            </ul>
                        </div>
                    </aside>

                    
                </div>
            </div>
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product_top_bar d-flex justify-content-between align-items-center">
                            <div class="single_product_menu">
                                <p><span>4592 </span> Prodict Found</p>
                            </div>
                            <div class="single_product_menu d-flex">
                                <h5>short by : </h5>
                                <select>
                                    <option data-display="Select">name</option>
                                    <option value="1">price</option>
                                    <option value="2">product</option>
                                </select>
                            </div>
                            <div class="single_product_menu d-flex">
                                <h5>show :</h5>
                                <div class="top_pageniation">
                                    <ul>
                                        <li>1</li>
                                        <li>2</li>
                                        <li>3</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="single_product_menu d-flex">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="search"
                                        aria-describedby="inputGroupPrepend">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupPrepend"><i
                                                class="ti-search"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row align-items-center latest_product_inner">
                    <div class="col-lg-4 col-sm-6">
                        <div class="single_product_item">
                            <a href="{% url 'product' %}"><img src="{% static 'imgs/product/product1.webp' %}" alt=""></a>
                            <div class="single_product_text">
                                <h4>Quartz Belt Watch</h4>
                                <h3>$150.00</h3>
                                <a href="#" class="add_cart">+ add to cart<i class="fa-regular fa-heart"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="single_product_item">
                            <a href="{% url 'product' %}"><img src="{% static 'imgs/product/product2.webp' %}" alt=""></a>
                            <div class="single_product_text">
                                <h4>Quartz Belt Watch</h4>
                                <h3>$150.00</h3>
                                <a href="#" class="add_cart">+ add to cart<i class="fa-regular fa-heart"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="single_product_item">
                            <a href="{% url 'product' %}"><img src="{% static 'imgs/product/product3.webp' %}" alt=""></a>
                            <div class="single_product_text">
                                <h4>Quartz Belt Watch</h4>
                                <h3>$150.00</h3>
                                <a href="#" class="add_cart">+ add to cart<i class="fa-regular fa-heart"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="single_product_item">
                            <a href="{% url 'product' %}"><img src="{% static 'imgs/product/product4.webp' %}" alt=""></a>
                            <div class="single_product_text">
                                <h4>Quartz Belt Watch</h4>
                                <h3>$150.00</h3>
                                <a href="#" class="add_cart">+ add to cart<i class="fa-regular fa-heart"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="single_product_item">
                            <a href="{% url 'product' %}"><img src="{% static 'imgs/product/product5.webp' %}" alt=""></a>
                            <div class="single_product_text">
                                <h4>Quartz Belt Watch</h4>
                                <h3>$150.00</h3>
                                <a href="#" class="add_cart">+ add to cart<i class="fa-regular fa-heart"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="single_product_item">
                            <a href="{% url 'product' %}"><img src="{% static 'imgs/product/product6.webp' %}" alt=""></a>
                            <div class="single_product_text">
                                <h4>Quartz Belt Watch</h4>
                                <h3>$150.00</h3>
                                <a href="#" class="add_cart">+ add to cart<i class="fa-regular fa-heart"></i></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="single_product_item">
                            <a href="{% url 'product' %}"><img src="{% static 'imgs/product/product7.webp' %}" alt=""></a>
                            <div class="single_product_text">
                                <h4>Quartz Belt Watch</h4>
                                <h3>$150.00</h3>
                                <a href="#" class="add_cart">+ add to cart<i class="fa-regular fa-heart"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="single_product_item">
                            <a href="{% url 'product' %}"><img src="{% static 'imgs/product/product8.webp' %}" alt=""></a>
                            <div class="single_product_text">
                                <h4>Quartz Belt Watch</h4>
                                <h3>$150.00</h3>
                                <a href="#" class="add_cart">+ add to cart<i class="fa-regular fa-heart"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="single_product_item">
                            <a href="{% url 'product' %}"><img src="{% static 'imgs/product/product9.webp' %}" alt=""></a>
                            <div class="single_product_text">
                                <h4>Quartz Belt Watch</h4>
                                <h3>$150.00</h3>
                                <a href="#" class="add_cart">+ add to cart<i class="fa-regular fa-heart"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="pageination">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Previous">
                                            <i class="fa-solid fa-angles-left"></i>
                                        </a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                                    <li class="page-item"><a class="page-link" href="#">6</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <i class="fa-solid fa-angles-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Category Product Area =================-->



<!--Start Footer-->

    <!--Start App banner-->

    <div class="mt-5 mb-5">
        <div class="row">
            <div class="col-12">
                <a href="#">
                    <img src="{% static 'imgs/banner-app.webp' %}" alt="Image 1" class="img-fluid">
                </a>
            </div>

        </div>
    </div>

    <!--End App Banner-->


    <!--Start Subscribe-->

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="text-center pt-2">
                    Be the first to know about our best deals!
                </div>
            </div>
            <div class="col-md-5">
                <div class="d-flex w-100 ">
                    <label for="newsletter1" class="visually-hidden">Email address</label>
                    <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                    <button class="btn mybtn" type="button">Subscribe</button>
                </div>
            </div>
        </div>
    </div>


    <!--End Subscripe-->


    <footer class="py-5">
        <div class="container border-top pt-5">
            <div class="row">
                <div class="col-md-4">
                    <h4>About Us</h4>
                    <a href="#" class="mylink">About Wayfair</a><br>
                    <a href="#" class="mylink">Wayfair Professional</a><br>
                    <a href="#" class="mylink">Gift Cards</a><br>
                    <a href="#" class="mylink">Wayfair Credit Cards</a><br>
                    <a href="#" class="mylink">Wayfair Financing</a><br>
                    <a href="#" class="mylink">Careers</a><br>
                    <a href="#" class="mylink">Sell on Wayfair</a><br>
                    <a href="#" class="mylink">Investor Relation</a><br>
                    <a href="#" class="mylink">Advertise with Us</a><br>
                    <a href="#" class="mylink">Locations</a>
                </div>
                <div class="col-md-4">
                    <h4>Customer Service</h4>
                    <a href="#" class="mylink">My Orders</a><br>
                    <a href="#" class="mylink">My Account</a><br>
                    <a href="#" class="mylink">Track My Order</a><br>
                    <a href="#" class="mylink">Wayfair Accessibilty Statement</a><br>
                    <a href="#" class="mylink">Return Policy</a><br>
                    <a href="#" class="mylink">Help Center</a><br>
                    <a href="#" class="mylink">Product Recalls</a>
                </div>
                <div class="col-md-4">
                    <h4>Contact Us</h4>
                    <button type="button" class="btn mybtn">Quick Service</button>
                </div>
            </div>

            <div class="d-flex justify-content-between py-4 my-4 border-top">
                <p>&copy; 2021 Company, Inc. All rights reserved.</p>
                <ul class="list-unstyled d-flex">
                    <li class="ms-3"><a class="link-dark" href="#"><i class="fa-brands fa-facebook fa-xl"></i></a></li>
                    <li class="ms-3"><a class="link-dark" href="#"><i class="fa-brands fa-instagram fa-xl"></i></a></li>
                    <li class="ms-3"><a class="link-dark" href="#"><i class="fa-brands fa-twitter fa-xl"></i></a></li>
                </ul>
            </div>
    </footer>


    <!--End Footer-->

    <!--JS Files-->

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/all.min.js' %}"></script>
    <script src="{% static 'js/myjs.js' %}"></script>

    <!--JS Files-->
</body>

</html>